.test-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .shop-bag {
    
    cursor: pointer;
    width: 100px;
    height: 100px;
  }
  .item-count {
    position: absolute;
    bottom: 16px;
    font-size: 20px;
    font-weight: bold;
  }
}